<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>jubalh - {{ .Site.Title}}</title>
		<meta name="viewport" content="width=device-width">

		<!-- syntax highlighting CSS -->
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/syntax.css">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/responsive.css">

		<!-- Google Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>

		<!-- RSS -->
		<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
		<!-- Script -->
		<script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>
	</head>
